ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

button {
  cursor: pointer;
}

/* a:visited {
  color: #757575;
} */

body {
  margin: 0;
  background: white;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 12px;
  }
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --container-width: 1199px;
}

/* MAIN INDEX */

.logo-link {
  z-index: 10;
}

.desire_p {
  font-family: 'Raleway';
  color: #282828;
  opacity: 0.1;
  text-transform: uppercase;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
  position: absolute;
  z-index: 0;
  cursor: default;
}

.p_1 {
  top: -36%;
  right: 25%;
  transform: rotate(-30deg);
  font-size: 450px;
  letter-spacing: 20px;
}

.p_2 {
  top: 32%;
  right: 12%;
  font-size: 150px;
  letter-spacing: 20px;
}

.p_3 {
  bottom: -5%;
  right: 10%;
  transform: rotate(20deg);
  font-size: 250px;
  letter-spacing: 20px;
}

.p_4 {
  left: 0;
  bottom: -3%;
  font-size: 150px;
  letter-spacing: 20px;
}

.mainPage-content .content {
  display: flex;
  align-items: center;
  gap: 245px;
}

.mainPage-content .content-title {
  margin-bottom: 12px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  color: #ffffff;
}

.mainPage-content .content-logo {
  margin-top: 52px;
  position: relative;
}

.content-logo .logo-arrow {
  position: absolute;
  z-index: 5;
  left: 30%;
  top: 38%;
  cursor: pointer;
  pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mainPage-content .content-logo .logo-circle:hover {
  animation: 5s linear infinite rotate;
  cursor: pointer;
}

.mainPage-content .content-text p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.div_ul li {
  display: inline;
  font-family: 'Inter';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  padding-left: 35px;
}

.div_ul li:before {
  content: '\2022 ';
  padding-right: 35px;
  text-shadow: #9ad351 1px 1px 0, #9ad351 -1px -1px 0, #9ad351 -1px 1px 0, #9ad351 1px -1px 0;
}

.ul_white {
  overflow: hidden;
  position: relative;
  padding-top: 171px;
  white-space: nowrap;
  color: #ffffff;
  background-color: #fff;
  text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
}

.white_wrap_content {
  display: flex;
  margin-top: 130px;
  margin-bottom: 157px;
}

.white_logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 80px;
  line-height: 94px;
  color: #9ad351;
  margin-right: 322px;
}

@media (max-width: 1200px) {
  .white_logo {
    margin-right: 222px;
  }
}

@media (max-width: 1100px) {
  .white_logo {
    margin-right: 5%;
  }

  .footer-social {
    gap: 180px;
  }
}

.white_logo span {
  text-transform: uppercase;
}

.white_wrap_p {
  display: flex;
  flex-wrap: wrap;
}

.white_wrap_p h1 {
  width: 100%;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #282828;
  margin-bottom: 24px;
}

.white_wrap_p p {
  width: 266px;
  margin-right: 24px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #282828;
}

.white_a {
  text-align: center;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.white_a a {
  text-decoration: none;
}

.white_a img {
  width: 10px;
  height: 10px;
}

.white_a a:visited {
  color: #282828;
}

.black_wrap {
  background-color: #282828;
  overflow: hidden;
  padding-bottom: 130px;
}

.ul_black {
  color: #282828;
  text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
}

.black_wrap_content {
  display: flex;
  margin-left: 200px;
  margin-top: 170px;
}

.black_wrap_wrap_content {
  margin-left: 24px;
  width: 100%;
  max-width: 384px;
  color: #ffffff;
}

.h1_wrap {
  padding-bottom: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 1px solid #767676;
}

.wrap_ul {
  margin-top: 24px;
  margin-bottom: 48px;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}

.wrap_ul li {
  margin-bottom: 24px;
  list-style-type: none;
}

.wrap_ul li:before {
  color: #9ad351;
  content: '\2022 ';
  padding-right: 10px;
}

.ul_black {
  margin-top: 130px;
  white-space: nowrap;
}

.wrap_button button {
  color: #ffffff;
  background-color: #282828;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 34.5px;
  border: 1px solid #767676;
}

.white_wrap_wrap_slider {
  padding-top: 72px;
  display: flex;
  justify-content: center;
  position: relative;
}

.white_wrap_slider {
  background-color: #282828;
  width: 830px;
  height: 554px;
  padding-left: 80px;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 50px;
}

.white_wrap_slider_active {
  background-color: #9ad351;
}

.wrap_slider_img {
  width: 670px;
  height: 340px;
  overflow: hidden;
}

.wrap_slider_img img {
  height: auto;
  width: 100%;
}

.wrap_slider_p {
  width: 306px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}

.white_wrap_slider_active .wrap_slider_p {
  color: #282828;
  opacity: 1;
}

.wrap_slider_p_a {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.wrap_slider_a a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.5;
}

.white_wrap_slider_active .wrap_slider_a a {
  color: #282828;
  opacity: 1;
}

.wrap_slider_a img {
  width: 8px;
  height: 8px;
}

.nav_wrap {
  cursor: pointer;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-size: 100px;
  color: #ffffff;
  opacity: 0.7;
}

.wrap_button_white {
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}

.wrap_button_white button {
  margin-top: 48px;
  color: #282828;
  background-color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 34.5px;
  border: 1px solid #767676;
}

.wrap_how_we_work {
  margin-left: 0;
  margin-top: 130px;
  gap: 170px;
}

@media (max-width: 1200px) {
  .wrap_how_we_work {
    gap: 130px;
  }
}

@media (max-width: 1100px) {
  .wrap_how_we_work {
    gap: 80px;
  }
}

.how_we_work {
  width: 260px;
}

.h1_wrap_how_we_work {
  border-bottom: 0;
  padding: 0;
}

.qwerty_wrap {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 1200px) {
  .qwerty_wrap {
    margin-left: 0;
    margin-right: 0;
    width: unset;
  }
}

.qwerty {
  width: 210px;
  border-bottom: 1px solid #9ad351;
}

@media (max-width: 1200px) {
  .qwerty {
    width: 155px;
  }
}

.div_circle_wrap {
  position: relative;
  color: #282828;
  font-size: 50px;
  text-shadow: #9ad351 1px 1px 0, #9ad351 -1px -1px 0, #9ad351 -1px 1px 0, #9ad351 1px -1px 0;
}

.div_circle {
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #9ad351;
  text-shadow: none;
}

._02 {
  top: -20px;
}

._01 {
  width: 185px;
}

@media (max-width: 1200px) {
  ._01 {
    width: 155px;
  }
}

.wrap_how_we_work_1 {
  margin-top: 50px;
  margin-left: 0;
  justify-content: center;
}

.how_we_work_1 {
  width: 251px;
  margin: 0 90px;
}

.ul_wrap_how_we_work {
  margin-top: 12px;
}

.white_wrap_pp {
  max-width: 1099px;
  margin: 221px auto 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #282828;
}

@media (max-width: 1100px) {
  .white_wrap_pp {
    margin: 221px 62.5px 0;
  }
}

.white_wrap_pp span {
  color: #9ad351;
}

.wrap_button_green button {
  background-color: #9ad351;
  border: none;
}

.wrap_button_green {
  padding-bottom: 221px;
}

/* MAIN INDEX */

/* HEADER */

.header {
  width: 100%;
  height: 100px;
  background: #282828;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1199px;
  margin: 0 auto;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 166px;
  height: 33px;
  overflow: hidden;
}

nav {
  z-index: 10;
}

.nav-list {
  display: flex;
  gap: 42.33px;
}

.nav-list_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.nav-list_link:hover {
  color: #9ad351;
}

/* Main */

/* .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.main_container {
  margin: 150px 0;
}

.title {
  max-width: 471px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  margin-top: 0;
  margin-bottom: 25px;
  background: linear-gradient(89.91deg, #9ad351 0.08%, #628e55 72.19%, #2a4858 150.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main_container p {
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  color: #282828;
  max-width: 384px;
}

.inputsBox {
  display: flex;
  gap: 68px;
  width: 100%;
}

.inputsBox_leftSide,
.inputsBox_rightSide {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.label-title {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.newProject_form input {
  width: 100%;
  max-width: 260px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 13px;
  color: #282828;
  border: none;
  border-bottom: 1px solid #767676;
  padding-bottom: 10px;
  outline: none;
  transition: all 0.3s linear;
}

.newProject_form input:focus {
  border-bottom: 1px solid #000;
  transition: all 0.3s linear;
}

.newProject_form select {
  width: 100%;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 13px;
  color: #282828;
  border: none;
  border-bottom: 1px solid #767676;
  padding-bottom: 10px;
  outline: none;
  transition: all 0.3s linear;
  cursor: pointer;
}

.newProject_form option {
  background-color: #9ad351;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #282828;
  padding: 10px 0;
}

.buttonsBox {
  margin-top: 71px;
  gap: 68px;
  display: flex;
  justify-content: space-between;
}

.file-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: all;
  cursor: pointer;
}

.file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  background-color: #fff;
  border: 1px solid #9ad351;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #282828;
}

.fileCancel-button {
  position: relative;
  width: 20px;
}

.fileCancel-button_stroke2 {
  width: 20px;
  border: 1px solid #282828;
  transform: rotate(135deg);
  position: absolute;
}

.fileCancel-button_stroke1 {
  width: 20px;
  border: 1px solid #282828;
  transform: rotate(45deg);
  position: absolute;
}

.submit-button {
  width: 260px;
  border: none;
  background-color: #9ad351;
  padding: 15px 0;
  color: #282828;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.agreement_box {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.agreement_box .checkbox-label {
  margin-right: 20px;
}

.agreement_box .rights {
  font-weight: 500;
  color: #767676;
}

.agreement_box .checkbox {
  border: 1px solid #767676;
}

.agreementData-link {
  font-weight: 300;
  text-decoration: underline;
}

/* FOOTER */

.footer {
  background: #282828;
}

.footer .wrapper {
  display: flex;
  flex-direction: column;
}

/* footer-top */

.footer-top {
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1100px) {
  .footer-top {
    justify-content: space-around;
  }
}

.footer-title {
  width: 100%;
  max-width: 290px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  gap: 37px;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form .input {
  width: 100%;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #fff;
  background: none;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #767676;
}

.form .input:focus {
  border-bottom: 1px solid #e7e7e7;
  outline: none;
  transition: 0.13s;
}

.form .input::placeholder {
  color: #767676;
}

.checkbox-label .checkbox-input {
  display: none;
}

.checkbox-label .checkbox {
  min-width: 20px;
  height: 20px;
  border: 1px solid #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox-label #arrow-icon,
.checkbox-label #agr-arrow-icon {
  opacity: 0;
  transition: opacity 0.13s ease;
}

.checkbox-label .checkbox-input:checked + .checkbox #arrow-icon,
.checkbox-label .checkbox-input:checked + .checkbox #agr-arrow-icon {
  opacity: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 240px;
}

.rights {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.rights .data-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.footer-social {
  display: flex;
  gap: 247px;
}

.footer-item-title {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-item,
.footer-link {
  margin-bottom: 6px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767676;
}

.footer-btn {
  padding: 15px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828 !important;
  background: #9ad351;
}

.footer-btn:active {
  transform: translateY(2px);
}

/* footer-bottom */

.footer-bottom {
  width: 100%;
  border-top: 1px solid #767676;
  padding-top: 28px;
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-list {
  gap: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-link .mail-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.footer-item:hover,
.footer-bottom-link:hover {
  text-decoration: underline;
}

.footer-author {
  display: flex;
  gap: 4px;
}

.footer-name {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767676;
}

.footer-name:last-child {
  margin-left: 62px;
}

.logo-footer {
  width: 71px;
  height: 14px;
  overflow: hidden;
}

/* BANNER */

.banner {
  position: relative;
  background: #282828;
  padding-top: 130px;
  padding-bottom: 254px;
}

.banner .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.draft {
  margin-bottom: 59px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  max-width: 548px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  background: linear-gradient(89.91deg, #9ad351 0.08%, #628e55 72.19%, #2a4858 150.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.draft-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 48px;
}

.draft-link:hover {
  color: #9ad351;
}

/* cases */

.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

.cases-item {
  margin-bottom: 48px;
  width: 100%;
  max-width: 588px;
  display: flex;
  flex-direction: column;
  background: #282828;
  opacity: 0.5;
}

.cases-img {
  overflow: hidden;
}

.ceses-text {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cases-name {
  width: 100%;
  max-width: 223px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #9ad351 !important;
}

.case-link {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #9ad351 !important;
}

/* PROJECT */

.project {
  /* margin-top: 49px; */
  border: 1px solid #9ad351;
  padding-top: 221px;
  padding-bottom: 220px;
}

.project .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text {
  max-width: 1120px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #282828;
}

.text-color {
  color: #9ad351;
}

.btn-project {
  max-width: 205px;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828 !important;
  background: #9ad351;
}

/* SEO */

.seo-banner-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.seo-banner-top a:hover {
  color: #628e55;
}

.seo-banner-section {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.seo-banner-bottom {
  display: flex;
  align-items: center;
  gap: 24px;
}

.seo-banner-description {
  max-width: 588px;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.seo-content-text {
  max-width: 587px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

/* SERVICES */

.services {
  margin-top: 150px;
}

.services .wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.services-title {
  margin: 0;
  width: 100%;
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  border-bottom: 1px solid #767676;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 150px;
}

.tabs .hidden-wrapper {
  width: 100%;
  max-width: 1199px;
  min-height: 281px;
  padding-top: 40px;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #767676;
}

.tabs .tab-wrapper {
  width: 100%;
  min-height: 115px;
  max-width: 1199px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #767676;
}

.tabs .tab {
  width: 100%;
  min-height: 115px;
  transition: background-color 0.13s ease, min-height 0.13s ease;
}

.tabs .tab:hover {
  background-color: #282828;
}

.tabs .tab:hover h3 {
  color: #fff;
}

.tabs .tab:hover .toggle path {
  stroke: #fff;
}

.tabs .tab h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #282828;
  text-transform: uppercase;
}

.tabs .tab h3 span {
  color: #9ad351;
}

.tabs .tab .toggle {
  margin-left: auto;
  transition: transform 0.13s ease;
}

.tabs .tab input {
  display: none;
}

.tabs .tab input:checked + h3 {
  color: #fff;
  margin-bottom: 80px;
}

.tabs .tab input:checked + h3 + .toggle svg path {
  stroke: #fff;
}

.tabs .tab input:checked + h3 + .toggle {
  transform: rotate(135deg);
}

.tabs .tab input:checked + h3 + .toggle + .btn {
  display: inline-block;
}

.tabs .tab input:checked + h3 + .toggle + .btn + .text {
  display: inline-block;
}

.opened {
  min-height: 152px !important;
}

.toggled {
  background-color: #282828;
  min-height: 152px !important;
}

.hidden {
  display: none;
}

.hidden-content {
  display: flex;
  flex-direction: column;
}

.tabs .tab .btn {
  position: absolute;
  display: none;
  left: 0;
  bottom: 14px;
  padding: 15px 40px;
  background: #9ad351;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828;
}

.tabs .tab .btn:active {
  transition: 0.13s;
  transform: translateY(5px);
}

.tabs .tab .text {
  right: 55px;
  bottom: 17px;
  max-width: 533px;
  display: none;
  position: absolute;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  /* White */
  color: #ffffff;
  opacity: 0.8;
}

.tabs .tab .hidden-content {
  display: none;
}

.tabs .tab h4 {
  margin-top: 0;
  margin-right: 58px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #9ad351;
}

.tabs .tab .task-list {
  max-width: 275px;
  margin-right: 93px;
}

.tabs .tab .task-list li {
  list-style: disc;
  list-style-position: inside;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767676;
  opacity: 0.8;
}

.tabs .tab .task-list li:not(:last-child) {
  margin-bottom: 12px;
}

.price {
  margin-left: 329px;
  margin-top: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

/* TEAM */

.team-banner {
  background: #282828;
  padding-bottom: 254px;
}

.team-banner .wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 137px;
}

.team-banner .wrapper img {
  max-width: 574px;
}

.team-banner-left {
  gap: 245px;
  margin-right: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.team-banner-right {
  position: relative;
}

.startProject-btn {
  position: absolute;
  left: -20%;
  top: -20%;
}

.team-banner-description {
  max-width: 384px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  width: 100%;
  height: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  background: #fff;
}

.team-title {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #282828;
}

.color-text {
  color: #9ad351;
}

.team-list {
  width: 100%;
  max-width: 781px;
  margin-left: 412px;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
}

.team-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #767676;
}

.team-item1 {
  border-bottom: 1px solid #767676;
}

.name-team {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #282828;
}

.team-function {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #282828;
}

/* MISSION */

.mission {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 94px;
  background: #282828;
}

.team-wrapper {
  flex-direction: column;
  align-items: start;
}

.mission .team-wrapper .task img {
  max-width: 792px;
}

.team-title1 {
  color: #ffffff;
}

.task {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-self: flex-end;
}

.team-text {
  max-width: 256px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.team-text1 {
  max-width: 313px;
}

.rule {
  gap: 24px;
  margin-top: 16px;
  display: flex;
  align-items: flex-start;
}

.rule p {
  margin-top: 0;
}

.rule img {
  max-width: 385px;
}

/* Invitation */

.invitation {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

.invitation .wrapper {
  display: flex;
  align-items: flex-start;
  gap: 204px;
}

.invitation-title {
  margin: 0;
  min-width: 407px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #282828;
}

.personal-data {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
}

.personal-data .input {
  width: 100%;
  max-width: 260px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #282828 !important;
  background: none;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #767676;
}

.personal-data .inputs {
  max-width: 563px;
}

.personal-data .input:focus {
  border-bottom: 1px solid #e7e7e7;
  outline: none;
  transition: 0.13s;
}

.personal-data .input::placeholder {
  color: #282828;
}

/* .button-invitation {
    display: flex;
    gap: 42px;
}

.input-file {
    padding: 15px 41px;
    font-family: 'Montserrat';

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #282828;
    border: 1px solid #9AD351;
}

.button-invitation .input {} */

/* TariffsPage */

.subTitle {
  margin: 150px 0 48px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #282828;
}

.desicionsBox {
  display: flex;
  gap: 24px;
  margin-bottom: 150px;
}

.desicionBox {
  border: 1px solid #76767680;
  padding: 45px 60px;
}

.desicion-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #282828;
}

.desicionBox p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #282828;
}

.desicionBox span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #282828;
}

.desicionBox ul {
  list-style-type: disc;
  margin: 12px 0 36px;
  line-height: 40px;
  padding-inline-start: 20px;
}

.desicionBox li {
  font-weight: 300;
  font-size: 15px;
  color: #282828;
}

.desicion-btns {
  display: flex;
  justify-content: space-between;
}

.about-btn,
.order-btn {
  color: #282828;
  padding: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.about-btn {
  background-color: #fff;
  border: 1px solid #9ad351;
  width: 234px;
}

.order-btn {
  width: 209px;
  background-color: #9ad351;
  border: none;
}

.cases .wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.swiper {
  width: 100%;
  height: 554px;
}

.swiper-slide {
  position: relative;
  max-width: 830px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 80px 50px;
  background-color: #282828;
  transition: background-color 1s linear !important;
}

.swiper-slide-prev::after,
.swiper-slide-next::after {
  content: '';
  position: absolute;
  background-color: #282828;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  opacity: 0.5;
}

.swiper-slide-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.swiper-slide-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.swiper-slide-main a {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 14% !important;
}

.swiper-button-next,
.swiper-rtl .swiper-button-next {
  right: 14% !important;
}

.swiper-slide-active {
  background-color: #9ad351;
  opacity: 1;
  transition: background-color 1s linear !important;
}

.swiper-slide-active .swiper-slide-main a,
.swiper-slide-active .swiper-slide-title {
  color: #282828;
}

.swiper-pagination {
  bottom: -14px !important;
  /* left: 115px !important; */
  /* width: 80% !important; */
  height: 1px;
  background-color: #9ad351;
  opacity: 0.5;
  position: relative;
}

/* .swiper-pagination-bullet {
  position: absolute;
  height: 1px;
  left: 0;
  top: 0;
} */

.swiper-pagination-bullet-active {
  background-color: #282828;
}

.cases-btn {
  margin-top: 48px;
  margin-bottom: 20px;
  padding: 15px;
  align-self: center;
  background-color: #fff;
  border: 1px solid #282828;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828;
}

/* TariffsPage */

/* TariffsPage Start */

.tarif-main {
  padding: 150px 0;
}

.tarif-main .content {
  display: flex;
  flex-direction: column;
}

.tarif-main .content-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 150px;
}

.tarif-main .content-box:nth-child(n + 2) {
  margin-top: 150px;
}

.tarif-main .content-box h2 {
  margin: 0;
  width: 100%;
}

.tarif-main .content-box ul {
  list-style-type: disc;
}

.tarif-main .content-box li:nth-child(n + 2) {
  margin-top: 24px;
}

.tarif-main .content-box span {
  align-self: center;
}

.tarif-start-btn {
  width: 270px;
  border: none;
  align-self: center;
  margin-top: 130px;
}

/* tarif arrow */

.arrow-title {
  max-width: 696px;
}

.tarif-main .content-box p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767676;
}

/* NOISELEND */

/* BANNER */

.banner {
  background: #282828;
  padding-top: 100px;
  padding-bottom: 273px;
}

@media (max-width: 980px) {
  .mainPage-content .content {
    flex-direction: column;
    gap: 0;
  }

  .footer-social {
    gap: 0;
    justify-content: space-between;
  }

  .mainPage-content .content-logo {
    align-self: flex-end;
  }

  .white_wrap .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .white_logo {
    margin-right: 0;
  }

  .text-box {
    flex-direction: column;
  }

  .white_wrap_p p {
    width: unset;
    margin-right: 0;
  }

  .white_a {
    text-align: right;
  }

  .black_wrap_wrap_content {
    margin-left: 0;
    min-width: 300px;
  }

  .black_wrap_wrap_content:nth-child(n + 2) {
    margin-left: 24px;
  }

  .black_wrap .wrapper {
    margin-top: 70px !important;
    align-items: flex-start;
    overflow: auto;
  }

  .swiper-slide {
    padding-right: 20px;
    padding-left: 20px;
    align-items: unset;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    display: none !important;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    display: none !important;
  }

  .wrap_how_we_work_1 {
    margin-left: 200px;
  }
}

@media (max-width: 700px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-request {
    margin-bottom: 60px;
  }

  .footer-social {
    gap: 110px;
  }

  .footer-bottom {
    flex-direction: column;
    margin-bottom: 0;
    align-items: flex-start;
    gap: 73px;
    padding-bottom: 23px;
  }

  .footer-name:last-child {
    margin-left: 240px;
  }
}
.banner .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.banner-title {
  width: 100%;
  max-width: 753px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  background: linear-gradient(89.91deg, #9ad351 0.08%, #628e55 72.19%, #2a4858 150.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.banner-description-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.banner-description-item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.banner-list {
  display: flex;
  flex-direction: row;
}

.banner-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.banner-link:hover {
  text-decoration: underline;
}

/* ABOUT-PROJECT */

.about-project {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-project .wrapper {
  display: flex;
  flex-direction: column;
}

.about-project-text {
  padding-left: 658px;
}

.about-project-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #282828;
}

.about-project-description {
  width: 100%;
  max-width: 588px;
  padding-top: 10px;
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #282828;
}

/* PROJECT */

.projects {
  width: 100%;
  height: 100%;
  background: #282828;
  padding-top: 184px;
  padding-bottom: 190px;
}

.projects .wrapper {
  text-align: center;
}

.projects-img {
  width: 996px;
  height: 4208px;
}
