@import url(./font.css);
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #757575;
}

a:visited {
    color: #757575;
}

body {
    margin: 0;
    background: white;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --container-width: 1199px;
}


/* HEADER */

.header {
    width: 100%;
    height: 100px;
    background: #282828;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1199px;
    margin: 0 auto;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 166px;
    height: 33px;
    overflow: hidden;
}

.nav-list {
    display: flex;
    gap: 42.33px;
}

.nav-list_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.nav-list_link:hover {
    color: #9AD351;
}


/* MAIN */

.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}


/* BANNER */

.banner {
    background: #282828;
    padding-bottom: 254px;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
}

.banner-left {
    gap: 245px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    max-width: 548px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    background: linear-gradient(89.91deg, #9AD351 0.08%, #628E55 72.19%, #2A4858 150.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.banner-description {
    max-width: 384px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* TEAM */

.team {
    width: 100%;
    height: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
    background: #fff;
}

.team-title {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #282828;
}

.color-text {
    color: #9AD351;
}

.team-list {
    width: 100%;
    max-width: 781px;
    margin-left: 412px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
}

.team-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #767676;
}

.team-item1 {
    border-bottom: 1px solid #767676;
}

.name-team {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #282828;
}

.team-function {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #282828;
}


/* MISSION */

.mission {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 94px;
    background: #282828;
}

.team-title1 {
    color: #FFFFFF;
}

.task {
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-text {
    max-width: 256px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.team-text1 {
    max-width: 313px;
}

.rule {
    gap: 24px;
    display: flex;
    align-items: flex-start;
}


/* Invitation */

.invitation {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 200px;
}

.invitation .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 204px;
}

.invitation-title {
    margin: 0;
    min-width: 407px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    color: #282828;
}

.personal-data {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}

.personal-data .input {
    width: 100%;
    max-width: 260px;
    font-style: normal;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #282828 !important;
    background: none;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #767676;
}

.personal-data .inputs {
    max-width: 563px;
}

.personal-data .input:focus {
    border-bottom: 1px solid #e7e7e7;
    outline: none;
    transition: .13s;
}

.personal-data .input::placeholder {
    color: #282828;
}


/* .button-invitation {
    display: flex;
    gap: 42px;
}

.input-file {
    padding: 15px 41px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #282828;
    border: 1px solid #9AD351;
}

.button-invitation .input {} */


/* FOOTER */

.footer {
    background: #282828;
}

.footer .wrapper {
    display: flex;
    flex-direction: column;
}


/* footer-top */

.footer-top {
    width: 100%;
    min-height: 741px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    width: 100%;
    max-width: 290px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form {
    gap: 37px;
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form .input {
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #fff;
    background: none;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #767676;
}

.form .input:focus {
    border-bottom: 1px solid #e7e7e7;
    outline: none;
    transition: .13s;
}

.form .input::placeholder {
    color: #767676;
}

.checkbox-label .checkbox-input {
    display: none;
}

.checkbox-label .checkbox {
    min-width: 20px;
    height: 20px;
    border: 1px solid #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-label #arrow-icon {
    opacity: 0;
    transition: opacity .13s ease;
}

.checkbox-label .checkbox-input:checked+.checkbox #arrow-icon {
    opacity: 1;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 240px;
}

.rights {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #767676;
}

.rights .data-link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.footer-item-title {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-item,
.footer-link {
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
}

.footer-btn {
    padding: 15px 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #282828 !important;
    background: #9AD351;
}

.footer-btn:active {
    transform: translateY(2px);
}


/* footer-bottom */

.footer-bottom {
    border-top: 1px solid #767676;
    padding-top: 28px;
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom-list {
    gap: 24px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-link .mail-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
}

.footer-item:hover,
.footer-bottom-link:hover {
    text-decoration: underline;
}

.footer-author {
    display: flex;
}

.footer-name {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
}