ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #757575;
}

a:visited {
  color: #757575;
}

body {
  margin: 0;
  background: white;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --container-width: 1199px;
}

/* HEADER */

.header {
  width: 100%;
  height: 100px;
  background: #282828;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1199px;
  margin: 0 auto;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 166px;
  height: 33px;
  overflow: hidden;
}

.nav-list {
  display: flex;
  gap: 42.33px;
}

.nav-list_link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.nav-list_link:hover {
  color: #9ad351;
}

/* MAIN */

.main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
}

/* BANNER */

.banner {
  background: #282828;
  padding-bottom: 254px;
}

.banner .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.title {
  max-width: 548px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  background: linear-gradient(89.91deg, #9ad351 0.08%, #628e55 72.19%, #2a4858 150.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.banner-section {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.banner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-description {
  max-width: 588px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.content-text {
  max-width: 587px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

/* SERVICES */

.services {
  margin-top: 150px;
}

.services .wrapper {
  flex-direction: column;
  align-items: flex-start;
}

.services-title {
  margin: 0;
  width: 100%;
  padding-bottom: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  border-bottom: 1px solid #767676;
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 150px;
}

.tabs .hidden-wrapper {
  width: 100%;
  max-width: 1199px;
  min-height: 281px;
  padding-top: 40px;
  padding-bottom: 24px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #767676;
}

.tabs .tab-wrapper {
  width: 100%;
  min-height: 115px;
  max-width: 1199px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #767676;
}

.tabs .tab {
  width: 100%;
  min-height: 115px;
  transition: background-color 0.13s ease, min-height 0.13s ease;
}

.tabs .tab:hover {
  background-color: #282828;
}

.tabs .tab:hover h3 {
  color: #fff;
}

.tabs .tab:hover .toggle path {
  stroke: #fff;
}

.tabs .tab h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #282828;
  text-transform: uppercase;
}

.tabs .tab h3 span {
  color: #9ad351;
}

.tabs .tab .toggle {
  margin-left: auto;
  transition: transform 0.13s ease;
}

.tabs .tab input {
  display: none;
}

.tabs .tab input:checked + h3 {
  color: #fff;
  margin-bottom: 80px;
}

.tabs .tab input:checked + h3 + .toggle svg path {
  stroke: #fff;
}

.tabs .tab input:checked + h3 + .toggle {
  transform: rotate(135deg);
}

.tabs .tab input:checked + h3 + .toggle + .btn {
  display: inline-block;
}

.tabs .tab input:checked + h3 + .toggle + .btn + .text {
  display: inline-block;
}

.opened {
  min-height: 152px !important;
}

.toggled {
  background-color: #282828;
  min-height: 152px !important;
}

.hidden {
  display: none;
}

.hidden-content {
  display: flex;
  flex-direction: column;
}

.tabs .tab .btn {
  position: absolute;
  display: none;
  left: 0;
  bottom: 14px;
  padding: 15px 40px;
  background: #9ad351;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828;
}

.tabs .tab .btn:active {
  transition: 0.13s;
  transform: translateY(5px);
}

.tabs .tab .text {
  right: 55px;
  bottom: 17px;
  max-width: 533px;
  display: none;
  position: absolute;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  /* White */
  color: #ffffff;
  opacity: 0.8;
}

.tabs .tab .hidden-content {
  display: none;
}

.tabs .tab h4 {
  margin-right: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #9ad351;
}

.tabs .tab .task-list {
  max-width: 275px;
  margin-right: 93px;
}

.tabs .tab .task-list li {
  list-style: disc;
  list-style-position: inside;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  /* Grey */
  color: #767676;
  opacity: 0.8;
}

.tabs .tab .task-list li:not(:last-child) {
  margin-bottom: 12px;
}

.price {
  margin-left: 329px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
}

/* PROJECT */

.project {
  margin-top: 49px;
  border: 1px solid #9ad351;
  padding-top: 221px;
  padding-bottom: 220px;
}

.project .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text {
  max-width: 1120px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #282828;
}

.text-color {
  color: #9ad351;
}

.btn-project {
  max-width: 205px;
  padding: 15px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828;
  background: #9ad351;
}

/* FOOTER */

.footer {
  background: #282828;
}

.footer .wrapper {
  display: flex;
  flex-direction: column;
}

/* footer-top */

.footer-top {
  width: 100%;
  min-height: 741px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  width: 100%;
  max-width: 290px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  gap: 37px;
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form .input {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #fff;
  background: none;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #767676;
}

.form .input:focus {
  border-bottom: 1px solid #e7e7e7;
  outline: none;
  transition: 0.13s;
}

.form .input::placeholder {
  color: #767676;
}

.checkbox-label .checkbox-input {
  display: none;
}

.checkbox-label .checkbox {
  min-width: 20px;
  height: 20px;
  border: 1px solid #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-label #arrow-icon {
  opacity: 0;
  transition: opacity 0.13s ease;
}

.checkbox-label .checkbox-input:checked + .checkbox #arrow-icon {
  opacity: 1;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 240px;
}

.rights {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}

.rights .data-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.footer-item-title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-item,
.footer-link {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767676;
}

.footer-btn {
  padding: 15px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #282828 !important;
  background: #9ad351;
}

.footer-btn:active {
  transform: translateY(2px);
}

/* footer-bottom */

.footer-bottom {
  border-top: 1px solid #767676;
  padding-top: 28px;
  margin-bottom: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-list {
  gap: 24px;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-link .mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}

.footer-item:hover,
.footer-bottom-link:hover {
  text-decoration: underline;
}

.footer-author {
  display: flex;
  gap: 4px;
}

.footer-name {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #767676;
}

.logo-footer {
  width: 71px;
  height: 14px;
  overflow: hidden;
}
